*.iml
*.p12
.gradle
/Android/local.properties
/Android/keystore.properties
/Android/.idea/
.DS_Store
/Android/build/
/Android/app/build/
/Android/app/obj/
/Android/app/release/
/Android/tun2socks/build/
/captures
