*.iml
*.p12
.gradle
/Android/local.properties
/Android/keystore.properties
/Android/.idea/workspace.xml
/Android/.idea/vcs.xml
/Android/.idea/libraries
.DS_Store
/Android/build/
/Android/app/build/
/captures
